<!DOCTYPE html>
<html>
  <head>
    <title>ElearningRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <header>
      <%= render 'layouts/navigation' %>
    </header>

  <div class="jumbotron">
        <br><br><br>
       
        <br>
  </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
      <%= @error %>
    </div>

    
    <%= yield %>
  </body>
</html>
